<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<!-- Page Wrapper -->
<div id="wrapper">
  <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-admin-header></app-admin-header>

      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="col-sm-12">
            <h3 style="font-size: 19px; margin-bottom: 20px">
              Students /Add Students
            </h3>
          </div>

        

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table comman-shadow">
                <div class="card-body">
                  <a routerLink="/admin/add-student" class="btn btn-primary"
                    ><i class="fas fa-plus"></i
                  ></a>

                  <button (click)="downloadPDF()" class="pdf">Download as PDF</button>
                  <button (click)="downloadExcel()" class="pdf">Download as Excel</button>

                </div>
              </div>

              <div class="table-responsive">
                <table class="table" #table>
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Full Name</th>
                      <th>Gender</th>
                      <th>DOB</th>
                      <th>PhoneNo</th>

                      <th class="text-right">Address</th>

                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of _adminService.students">
                      <td class="text-center">{{ s.studentid }}</td>
                      <td>
                        <img
                          class="avatar-img rounded-circle"
                          style="width: 50px; height: 50px; border-radius: 25%"
                          src="../../../assets/UploadImages/{{ s.profileimage }}"
                          alt="User Image"
                        />
                        {{ s.studentfname }} {{ s.studentlname }}
                      </td>
                      <td>{{ s.gender }}</td>
                      <td>{{ s.dob | date : "yyyy-MM-dd" }}</td>
                      <td>{{ s.phoneno }}</td>
                      <td class="text-right">{{ s.address }}</td>
                      <td class="td-actions text-right">
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-info btn-round btn-just-icon btn-sm"
                          data-original-title=""
                          title=""
                        >
                          <!-- <i class="material-icons">details</i> -->
                          <i
                            class="material-icons fa fa-info-circle"
                            style="margin-right: 10px; font-size: 20px"
                          ></i>
                        </button>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-success btn-round btn-just-icon btn-sm"
                          data-original-title=""
                          title=""
                        >
                          <!-- <i class="material-icons">edit</i> -->
                          <i
                            class="material-icons fas fa-pen"
                            style="margin-right: 10px"
                          ></i>
                        </button>
                        <!-- <button
                            type="button"
                            rel="tooltip"
                            class="btn btn-danger btn-round btn-just-icon btn-sm"
                            data-original-title=""
                            title=""
                            (click)="DeleteStudent(s.studentid)"
                          >

                            <i
                              class="material-icons fa fa-trash"
                              style="margin-right: 10px"
                            ></i>
                          </button>
                        </td> -->

                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-danger btn-round btn-just-icon btn-sm"
                          data-original-title=""
                          title=""
                          (click)="OpenDeleteStudentDialgo(s.studentid)"
                        >
                          <i
                            class="material-icons fa fa-trash"
                            style="margin-right: 10px"
                          ></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ng-template #ConfirmationDialog>
                  <h1 mat-dialog-title>Delete Student</h1>
                  <div mat-dialog-content>
                    Would you like to delete the Student?
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button mat-dialog-close="yes" cdkFocusInitial class="buttCustom">Yes</button>
                    <button mat-button mat-dialog-close="no" class="buttCustom">
                      no
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of Main Content -->

<!-- End of Content Wrapper -->

<!-- End of Page Wrapper -->
