<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/instructor/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-book"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MasterMind </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link " routerLink="/instructor/index">
            <i class="fa fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Entities
    </div>

<li class="nav-item">
    <a class="nav-link" (click)="toggleStudentsCollapse()">
        <i class="fa fa-graduation-cap"></i>
        <span>Student Attendance</span>
    </a>
    <div id="collapseStudents" [ngClass]="{ 'show': isStudentsCollapseVisible }" *ngIf="isStudentsCollapseVisible" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Attendance:</h6>
            <div class="d-flex flex-column">
                <a class="collapse-item" routerLink="/instructor/attendance-list">Attendance List</a>
                <a class="collapse-item" routerLink="/instructor/add-attendance">Add Student Attendance</a>
            </div>
        </div>
    </div>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<!-- <li class="nav-item">
    <a class="nav-link" (click)="toggleTeachersCollapse()">
        <i class="fa fa-user"></i>
        <span>Teachers</span>
    </a>
    <div id="collapseTeachers" [ngClass]="{ 'show': isTeachersCollapseVisible }" *ngIf="isTeachersCollapseVisible" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Teacher:</h6>
            <div class="d-flex flex-column">
                <a class="collapse-item" href="utilities-color.html">Teachers List</a>
                <a class="collapse-item" href="utilities-border.html">Add Teacher</a>
            </div>
        </div>
    </div>
</li> -->



    <!-- Divider -->
    <!-- <hr class="sidebar-divider" style="color: white;"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Managing
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>option</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item custom-link" href="login.html">option1</a>
          
            </div>
        </div>
    </li> -->

    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>option</span>
        </a>
    </li> -->

    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>option</span>
        </a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" style="color: white;">
</ul>
